*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general */
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
  background-color: #000; /*Background de respaldo*/
  overscroll-behavior: none;
}
  
/* Contenedor del fondo */
.crash 
{
  width: 100%;
  height: 100dvh;
  background: url(../img/bg-horizontal.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Video encima del fondo */
.crash-video
{
  /*width: 30%;
  max-width: 500px;
  position: relative;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Video ajustado al contenedor*/
.video-overlay 
{
  width: 100%;
  height: auto;
  object-fit: cover;
}
  
/* dispositivos móviles */
@media screen and (max-width: 768px)
{
  .crash
  {
    height: 100vh;
  }

  .crash-video
  {
    width: 90%;
    max-width: 390px;
  }

  .video-overlay
  {
    height: 100%;
  }
}

@media screen and (max-width: 430px)
{
  .crash
  {
    height: 100dvh;
  }

  .crash-video
  {
    width: 100%;
    max-width: 430px;
  }

  .video-overlay
  {
    height: 100%;
  }
}

/*@media screen and (max-width: 393px) 
{
  .crash 
  {
    height: 100dvh;
  }
  
  .crash-video 
  {
    width: 100%;
    max-width: 393px;
  }
  
  .video-overlay 
  {
    height: 1920px;
  }
}*/
